{% extends 'base.html.twig' %}

{% block body %}
    <h1>Meeting list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Reason</th>
                <th>Meeting_date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for meeting in meetings %}
                <tr>
                    <td>
                        <a href="{{ path('meeting_show', { 'id': meeting.id }) }}">{{ meeting.id }}</a>
                    </td>
                    <td>{{ meeting.name }}</td>
                    <td>{{ meeting.email }}</td>
                    <td>{{ meeting.phone }}</td>
                    <td>{{ meeting.reason }}</td>
                    <td>
                        {% if meeting.meetingdate %}{{ meeting.meetingdate|date('Y-m-d H:i:s') }}{% endif %}
                    </td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('meeting_show', { 'id': meeting.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('meeting_edit', { 'id': meeting.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('meeting_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}

{% block stylesheets %}
    <style>
        body {
            background: #F5F5F5;
            font: 18px/1.5 sans-serif;
        }
        h1,
        h2 {
            line-height: 1.2;
            margin: 0 0 0.5em;
        }
        h1 {
            font-size: 36px;
        }
        h2 {
            font-size: 21px;
            margin-bottom: 1em;
        }
        p {
            margin: 0 0 1em;
        }
        a {
            color: #0000F0;
        }
        a:hover {
            text-decoration: none;
        }
        code {
            background: #F5F5F5;
            max-width: 100px;
            padding: 2px 6px;
            word-wrap: break-word;
        }
        #wrapper {
            background: #FFF;
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
        }
        #container {
            padding: 2em;
        }
        #status,
        #welcome {
            margin-bottom: 2em;
        }
        #welcome h1 span {
            display: block;
            font-size: 75%;
        }
        #icon-book,
        #icon-status {
            float: left;
            height: 64px;
            margin-right: 1em;
            margin-top: -4px;
            width: 64px;
        }
        #icon-book {
            display: none;
        }
        @media (min-width: 768px) {
            #wrapper {
                width: 80%;
                margin: 2em auto;
            }
            #icon-book {
                display: inline-block;
            }
            #next a,
            #status a {
                display: block;
            }
            @-webkit-keyframes fade-in {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
            @keyframes fade-in {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
            .sf-toolbar {
                opacity: 0;
                -webkit-animation: fade-in 1s 0.2s forwards;
                animation: fade-in 1s 0.2s forwards;
            }
        }

    </style>
{% endblock %}
